.contact {
  background: #0E1A1A;
  color: #fff;
  padding: 40px 0 0 0;
  .content {
    h2 {
      font-size: 12px;
      color: rgba(255,255,255,.5);
      text-transform: uppercase;
    }
    p:first-of-type {
      font-weight: 700;
    }
    p {
      font-style: 16px;
    }
    span {
      display: block;
      text-transform: uppercase;
      color: rgba(255, 255, 255, .5);
      margin-top: 25px;
    }
    a {
      color: $color__red;
      display: block;
      font-weight: 700;
      margin-top: 15px;
    }
    a:hover {
      color: #fff;
    }
  }
  .form {
    h2 {
      font-size: 12px;
      color: rgba(255,255,255,.5);
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .frm_message {
      border: 1px solid $color__red;
      text-align: center;
      color: $color__red;
      padding: 150px 10%;
      h2 {
        font-size: 60px;
        text-transform: uppercase;
        color: $color__red;
      }
      p {
        color: $color__red;
        font-size: 13px;
      }
    }
    .wpcf7-submit, .frm_button_submit {
      background: $color__red;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: 0;
      padding: 25px 20px;
      width: 100%;
      border-radius: 0;
    }
    .wpcf7-submit:hover, .frm_button_submit:hover {
      background: $color__green;
    }
    .form-control {
      width: 100%;
      padding: 0;
      input {
        padding: 6px;
        border: none;
      }
    }
    textarea {
      padding: 6px;
      border: none;
      color: #000 !important;
    }
    .consent {
      .wrapper {
        background: #fff;
        color: #000;
        padding: 10px 10px 10px 25px;
        input {
          margin-left: -15px;
        }
        label {
          font-weight: 300;
          font-size: 12px;
        }
        a:hover {
          color: $color__red;
        }
      }
      input {
        // margin-right: 10px;
      }
      .wpcf7-list-item-label {
        font-size: 12px;
      }
      a {
        color: $color__grey;
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px;
        display: block;
      }
    }
    .frm_submit {
      padding-bottom: 15px;
      border-bottom: 10px solid $color__red;
    }
  }
}
