.news {
  margin-top: -80px;
  padding-bottom: 50px;
  &__post {
    transform: rotate(-4deg) skew(-4deg);
    color: #fff;
    margin-bottom: 15px;
    &__wrapper {
      position: relative;
      .date {
        font-weight: 600;
        font-size: 20px;
        transform: rotate(4deg) skew(4deg);
        margin-bottom: 30%;
      }
      h2 {
        background: #fff;
        color: #726D6D;
        padding: 20px;
        width: 50%;
        font-weight: 600;
        font-size: 18px;
        transform: rotate(4deg) skew(4deg);
        text-align: center;
        display: inline-block;
        text-transform: none;
      }
      a {
        margin-top: 25px;
        position: absolute;
        bottom: 50px;
        color: #fff;
        background: #726D6D;
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 14px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        transform: rotate(4deg) skew(4deg);
        width: 40%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      a:hover {
        background: $color__green;
        color: #fff;
      }
      height: 450px;
      padding: 20px;
      text-align: center;
      // transform: skew(5deg);
    }
  }
}

.news-single {
  .feat-img {
    background: #2A4445;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    img {
      width: 100%;
    }
    img.more {
      width: 30px;
      position: absolute;
      bottom: 175px;
      left: 20px;
    }
      h2 {
        margin: 25px 0;
        font-size: 14px !important;
      }
    a[rel="next"] {
      background: #106995;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 25px;
      @include md {
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
      }
      display: inline-block;
    }
    a[rel="next"]:hover {
      background: #F12A28;
    }
  }
  .content {
    padding: 25px 15px;
    @include md {
      padding: 50px 50px 100px;
    }
    color: #726D6D;
    .date {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 50px;
    }
    h1 {
      color: #726D6D;
      font-size: 32px;
      font-weight: 600;
      @include md {
        font-size: 57px;
      }
    }
    p {
      color: #726D6D;
      line-height: 1.75em;
    }
    p:first-of-type {
      font-weight: 600;
    }
    .seperator {
      margin-top: 25px;
      margin-bottom: 50px;
    }
    a.back {
      background: #F12A28;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 25px;
      @include lg {
        position: absolute;
        bottom: 50px;
      }
      display: inline-block;
    }
    a.back:hover {
      background: #106995;
    }
  }
}
