.woocommerce-cart-form {
  // padding: 50px 30px;
}

.price {
  del {
    font-size: .5em;
  }
}

.product-loop {
  padding-top: 50px;
  padding-bottom: 50px;
  .product-single {
    margin-bottom: 50px;
    .wrapper {
      border: 2px solid rgba(42,68,69,.3);
      padding: 25px;
      position: relative;
      img {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h2 {
        color: #2A4445;
        font-size: 25px;
        font-weight: 600;
        border-bottom: 2px solid rgba(42,68,69,.3);
        padding-bottom: 20px;
      }
      .price {
        color: $color__red;
        font-size: 33px;
        font-weight: 600;
        float: left;
      }
      .woocommerce-Price-currencySymbol {
        font-size: 22px;
        font-weight: 400;
      }
      .add_to_cart_button {
        float: right;
        // margin-top: 5px;
        background: $color__red;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 25px;
        font-weight: 300;
      }
      .add_to_cart_button:hover {
        background: $color__green;
      }
      .added_to_cart {
        float: right;
        margin-top: 5px;
        color: $color__red;
        text-transform: uppercase;
        padding: 5px 25px;
        font-weight: 300;
      }
    }
  }
}

ul.included_products {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
  color: rgba(42, 68, 69, .5);
  li {
    color: #2A4445;
    font-size: 22px;
    font-weight: 700;
    a {
      color: #2A4445;
    }
    a:hover {
      color: $color__red;
      font-size: 22px;
      font-weight: 600;
    }
  }
  li:last-of-type {
    margin-bottom: 25px;
  }
}

.product-single {
  padding-top: 25px;
  padding-bottom: 25px;

    &__nav {
      &__wrapper {
        padding: 40px 15px;
        background: url(images/product-single-nav_bg.png) bottom no-repeat #EFEFEF;
        height: calc(100% - 15px);
        background-size: 100%;
        h3 {
          color: #2A4445;
          font-size: 12px;
          font-weight: 600;
          border-bottom: 1px solid rgba(42, 68, 69, .3);
          text-transform: uppercase;
          padding-bottom: 15px;
        }
        p {
          font-size: 12px;
          // color: rgba(42, 68, 69, .3);
          color: #2A4445;
          text-transform: uppercase;
        }
        ul {
          margin: 0 0 100px;
          padding: 0;
          list-style: none;
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(42, 68, 69, .3);
          li {
            padding: 0 0 0 20px;
            br {
              display: none;
            }
            a {
              color: #2A4445;
              font-size: 18px;
              font-weight: 600;
            }
            a:hover {
              color: $color__red;
            }
          }
        }
        ul.single-elements {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(42, 68, 69, .3);
          li {
            padding: 0 0 10px 0;
            a {
              // color: rgba(42, 68, 69, .4);
              color: #2A4445;
              font-size: 14px;
              font-weight: 400;
            }
            a:hover {
              color: $color__red;
            }
          }
        }
      }
    }


  h1 {
    color: #000;
    text-decoration: none;
    font-size: 35px;
    @include md {
      font-size: 45px;
    }
  }

  .sku_wrapper {
    font-size: 12px;
    color: rgba(42,68,69,.5);
    text-transform: uppercase;
  }
  .sku {
    display: block;
    font-weight:700;
    font-size: 22px;
    color: rgba(42,68,69,1);
    text-transform: none;
  }
  p.price {
    .woocommerce-Price-amount {
      color: #000;
      font-size: 50px;
      @include lg {
        font-size: 75px;
      }
      font-weight: 700;
      .woocommerce-Price-currencySymbol {
        font-size: 35px;
        @include lg {
          font-size: 55px;
        }
        font-weight: 300;
      }
    }
  }
  input[type=number] {
    background: #F12A28;
    color: #fff;
    height: 50px;
    border: none;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
     opacity: 1;
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    width:8px;
    text-align:center;
    position:relative;
  }

  input[type=number]::-webkit-inner-spin-button {
      background: url(images/qty_spin.svg) no-repeat 50% 50%;
      width: 9px;
      height: 14px;
      padding: 4px;
      position: relative;
      right: 4px;
  }

  button.button {
    background: #F12A28 !important;
    color: #fff;
    height: 50px;
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
  }
  button.button:hover {
    background: $color__green !important;
  }

  .quote {
    background: $color__red;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 15px;
    display: none;
    a {
      color: #fff;
      font-weight: 600;
      transition: .5;
    }
    a:hover {
      color: #000;
    }
  }

  a.refills {
    background: $color__green;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    display: inline-block;
    width: 205px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.refills:hover {
    background: $color__red;
  }
  .nav-tabs {
    li {
      a {
        text-transform: uppercase;
        font-weight: 600;
        color: #A0A0A0;
      }
    }
    li.active {
      a {
        text-transform: uppercase;
        font-weight: 600;
        color: #1D3637;
      }
    }
  }
  .tab-pane {
    padding: 30px 0;
    .box_image {
      border-left: 1px solid rgba(42,68,69,.5);
    }
    .intro {
      margin-bottom: 25px;
    }

    .tech_table {
      width: 100%;
      @include xs {
        width: 50%;
      }
      @include md {
        width: 25%;
      }
      @include lg {
        width: 20%;
      }
      padding: 0 5px 0 0;
      float: left;
    }

    .item_title {
      background-color: $color__red;
      color: #fff;
      padding: 10px;
      font-weight: 600;
      font-size: 18px;
    }
    .item_no {
      padding: 20px 10px 20px 10px;
      font-size: 12px;
      background: #8E8E8E;
      color: #EBEBEB;
      h3 {
        color: #fff;
        font-size: 55px;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }
    .item_details {
      padding: 10px;
      min-height: 58px;
    }
    .item_details:nth-child(odd) {
      background-color: #F0F0F0;
    }
  }
}

.up-sells {
  border-bottom: 2px solid rgba(42,68,69,.3);
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.related.products, .up-sells {
  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1D3637;
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
  }
  li.product {
    margin: 0 7.5px 0 7.5px !important;
    .wrapper {
      border: 2px solid rgba(42,68,69,.3);
      padding: 15px;
      .onsale {
        display: none;
      }
      h2 {
        color: #2A4445;
        font-size: 25px !important;
        font-weight: 600;
        padding-bottom: 0;
        border-bottom: none;
      }
      h3 {
        color: rgba(42,68,69,.5);
        font-size: 12px !important;
        font-weight: 400;
        border-bottom: 1px solid rgba(42,68,69,.3);
        padding-bottom: 20px;
      }
      .price {
        color: $color__red !important;
        font-size: 22px !important;
        padding: 10px 0;
        font-weight: 600 !important;
        margin-bottom: 5px !important;
        background: url(images/price_logo.svg) right no-repeat;
        del {
          font-size: .5em;
          color: $color__green;
        }
      }
      .woocommerce-Price-currencySymbol {
        font-size: 16px !important;
        font-weight: 400 !important;
      }
      .add_to_cart_button {
        display: block;
        text-align: center;
        // margin-top: 5px;
        background: $color__red;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 25px;
        font-weight: 300;
      }
      .add_to_cart_button:hover {
        background: $color__green;
      }
      .added_to_cart {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: $color__red;
        text-transform: uppercase;
        padding: 5px 25px;
        font-weight: 300;
      }
    }
  }
}

.summary {
  .price {
    del {
      .amount {
        font-size: 25px;
        .woocommerce-Price-currencySymbol {
          font-size: 15px;
        }
      }
    }
  }
}
